<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student List Management</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/logo')}}"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="text-center alert alert-primary m-3">
        Agent Management System
      </h1>
      <div class="row">
        <!-- lines -->
        <!-- Bootstrap Grid System col-sm-2 -->
        <div class="col-sm-2"></div>

        <!-- content goes here -->
        <!-- Bootstrap Grid System col-sm-8 -->
        <div class="col-sm-8">
          <h2>
            Student list
            <button
              class="btn btn-primary float-right"
              data-toggle="modal"
              data-target="#myModal"
            >
              Add Student
            </button>
          </h2>

          {%with messages = get_flashed_messages()%} {%if messages%} {%for
          message in messages%}

          <div class="alert alert-success alert-dismissible" role="alert">
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
          </div>
          {%endfor%} {%endif%} {%endwith%}

          <!-- A place to enter new student called modal or floating form -->
          <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5
                    class="modal-title text-primary"
                    style="align-content: center"
                  >
                    Please Add New Agent
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!-- section form -->
                <div class="modal-body">
                  <form action="{{ url_for('insert')}}" method="POST">
                    <!-- input name  -->
                    <div class="form-group">
                      <label>Full Name</label
                      ><input
                        type="text"
                        name="name"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="Enter full name"
                        required
                      />
                    </div>
                    <!-- input email -->
                    <div class="form-group">
                      <label>Email</label
                      ><input
                        type="email"
                        name="email"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="johnanomalous@domain.ed"
                        required
                      />
                    </div>
                    <!-- input phone number -->
                    <div class="form-group">
                      <label>Phone Number</label
                      ><input
                        type="text"
                        name="phone"
                        class="form-control"
                        id="exampleFormControlInput1"
                        placeholder="+1 2345 6789 0"
                        required
                      />
                    </div>

                    <button type="submit" class="btn btn-rpimary mb-2">
                      Save
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Show all informations form database -->
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">S/N</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for row in students %}
              <tr>
                <td>{{row.0}}</td>
                <td>{{row.1}}</td>
                <td>{{row.2}}</td>
                <td>{{row.3}}</td>
                <td>
                  <a
                    href="/update/{{row.0}}"
                    class="btn btn-warning btn-sm"
                    data-toggle="modal"
                    data-target="#modaledit{{row.0}}"
                    >Edit</a
                  >
                  <a href="/delete/{{row.0}}" class="btn btn-danger btn-sm"
                    >Delete</a
                  >
                </td>
              </tr>
              <!-- Edit/Delete new student modal -->
              <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <!-- title floating form -->
                      <h5 class="modal-title text-primary">
                        Update Student Details
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="close"
                      >
                        <span>&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="{{url_for('update')}}" method="POST">
                        <input type="hidden" name="id" value="{{row.0}}" />
                        <div class="form-group">
                          <label>Full Name</label>
                          <input
                            type="text"
                            value="{{row.1}}"
                            name="name"
                            class="form-control"
                            id="exampleFormControlInput1"
                            placeholder="Enter full name"
                          />
                        </div>
                        <div class="form-group">
                          <label>Email</label>
                          <input
                            type="text"
                            value="{{row.2}}"
                            name="email"
                            class="form-control"
                            id="exampleFormControlInput2"
                            placeholder="Enter your email"
                          />
                        </div>
                        <div class="form-group">
                          <label>Phone Number</label>
                          <input
                            type="text"
                            value="{{row.3}}"
                            name="phone"
                            class="form-control"
                            id="exampleFormControlInput3"
                            placeholder="Enter your phone number"
                          />
                        </div>
                        <button type="submit" class="btn btn-success mb-2">
                          Update
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <!-- End of edit Agent Modal -->
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- connected to js frameworks for floating form can be showed  -->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    ></script>
  </body>
</html>
